.menu{
  text-align: center;
  display: inline-block;
  margin-left: 25px;
  border-radius: 10px;
  border: 1px solid rgb(202, 202, 202);
}
img{
  width: 190px;
  border-radius: 5px;
}
.field{
  border-width: 0px;
}
h1{
  color:rgb(15, 91, 244);
}
body{
  background-color: white;
}