body {
  background-color: #cccccc;
}
ul {
  list-style: none;
  display: flex;
  justify-content: left;
}

li {
  margin: 10px;
}

li a {
  text-decoration: none;
  color: #ffffff;
}
li a:hover{
  color:rgb(95, 6, 88);
  cursor: pointer;
}

li button {
  color: white;
  background-color: #b545c3;
}

li button:hover {
  cursor: pointer;
  background-color: rgb(119, 11, 141);
}
.header-nav {
  margin-bottom: 50px;
}
